@using Microsoft.Docs.Build;
@model LandingData
UpdateAbstract();

@functions
{
private void UpdateAbstract()
{
    if (Model?.Abstract?.Aside?.Title != null && Model?.Abstract?.Aside?.Image != null && string.IsNullOrEmpty(Model?.Abstract?.Aside?.Image?.Alt))
    {
        Model.Abstract.Aside.Image.Alt = Model.Abstract.Aside.Title;
    }

    if (Model?.Abstract != null && Model?.Abstract?.Menu != null)
    {
        Model.Abstract.Aside = null;
    }
}
}

<div class="abstractHolder">
    <div class="abstract">
        <p>@Model.Abstract.Description</p>
    </div>
    <div class="menu">
        <div class="abstract-title">@Model.Abstract.Menu.Title</div>
    </div>
    <div class="aside">
        <a href="@Model.Abstract.Aside.Href">
            <img src="@Model.Abstract.Aside.Image.Src" alt="@Model.Abstract.Aside.Image.Alt" />
        </a>
        <a href="@Model.Abstract.Aside.Href">@Model.Abstract.Aside.Title</a>
    </div>
</div>
@foreach (var section in Model.Sections)
{
    <h2>section.Title</h2>
    @foreach (var item in section.Items)
    {
        @if (item.Type == LandingDataType.Paragraph)
        {
            <p>@item.Text</p>
        }
        else if (item.Type == LandingDataType.List)
        {
            @await Html.PartialAsync("BuildItemListPartial", item)
        }
        else if (item.Type == LandingDataType.Grid)
        {
            @if (item.Style == "columns")
            {
                <div class="columnHolder">
                    @if (item.Items != null)
                    {
                        foreach (var subItem in item.Items)
                        {
                            var listItem = subItem as LandingDataListItem;
                            <div class="@item.ClassName">
                                @await Html.PartialAsync("BuildItemListPartial", subItem)
                            </div>
                        }
                    }
                </div>
            }
        }
        else if (item.Type == LandingDataType.Table)
        {
            if (item.Style == "dataMatrix")
            {
                <table class="dataMatrix">
                    @if (item.Columns != null)
                    {
                        <tr>
                            <th></th>
                            @for (var i = 0; i < item.Columns.Length; i++)
                            {
                                var column = item.Columns[i];
                                if (column.Image != null)
                                {
                                    <th>
                                        <img role="@column.Image.Role ?? ''" alt="@column.Title ?? 'column ' + i + 2" src="@column.Image.Src" width="@column.Image.Width ?? 48">
                                        @column.Title != null ? <span>@column.Title</span> : ""
                                    </th>
                                }
                            }
                        </tr>
                    }
                    @if (item.Rows != null)
                    {
                        foreach (var row in item.Rows)
                        {
                            <tr>
                                <td>@row.Title</td>
                                @if (item.Columns != null)
                                {
                                    <td>
                                        @for (var i = 0; i < item.Columns.Length; i++)
                                        {
                                            @if (row.Values != null && row.Values[i]?.Href != null)
                                            {
                                                var title = row.Title;
                                                if (!string.IsNullOrEmpty(title) && !string.IsNullOrEmpty(item.Columns[i].Title))
                                                {
                                                    title = item.Columns[i].Title + " " + title;
                                                }
                                                <a href="@row.Values[i].Href" aria-lable="@title">
                                                    <span rolw="presentation" class="docons docon-external-link" aria-hidden="true"></span>
                                                </a>
                                            }
                                        }
                                    </td>
                                }
                            </tr>
                        }
                    }
                </table>
            }
        }
        else if (item.Type == LandingDataType.Markdown)
        {
            @item.Text
        }
    }
}
